body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem; 
  margin: 0;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  padding-top: 2%;
  text-align: center;
}

.slider {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  align-content: left;
  text-align: left;
  padding-left: 12%;
}

.slider input[type="range"] {
  width: 30%; /* Increased width of the slider */
}

.slider-values {
  display: flex;
  justify-content: space-between;
  width: 30%; /* Match the slider width */
  margin-top: 5px;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tabs button {
  /* margin: 0 10px; */
  padding: 10px 20px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #ddd;
  border-bottom: 2px solid #000;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  /*TODO: FIGURE OUT HOW TO REDUCE THE SPACE IN BETWEEN, also to have Summary Length on the same line as the sliders*/
  margin-top: 20px;
}

.text-input-container,
.summarized-text-container {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  height: 330px
}

.text-input-container textarea {
  width: 100%;
  height: 200px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 80px;
  /* padding-bottom: 10%; */
  margin-bottom: 70.5px;
}

.upload-button:hover {
  background-color: #0056b3;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}